.header {
    display: flex;
    align-items: center;
    justify-content: center left;
    padding: 20px;
    background-color: white;
    border-bottom: 2px solid #ddd;
    position: sticky;
    top: 0;
  }
  
  .logo {
    max-width: 120px;
    margin-right: 15px;
  }
  
.title {
    font-size: 2rem;
    color: #333;
    font-weight: 800;
    line-height: 1;
}

.world {
    color: #4a4ae0;
    font-weight: 700;
}
  
  .menu-icon {
    font-size: 2rem;
    cursor: pointer;
  }
  