/* Main content styles */
.main-content {
  padding: 40px;
  position: relative;
  padding-bottom: 150px;
}

/* Buttons remain unchanged */
.button-container button {
  background-color: #4a4ae0;
  color: white;
  border: 2px solid black;
  border-radius: 50%;
  margin: 7px;
  width: 75px;
  height: 75px;
  cursor: pointer;
  font-size: 11px;
  top: 50%; /* Distance from the top */
  left: 50%; /* Distance from the left */
  transform: translate(-50%, -50%);
}

/* Astronaut container */
.astronaut-container {
  position: fixed;
  bottom: 100px;
  left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.bubble-container {
  position: relative;
  display: inline-block;
  margin: 0 auto;
}

.astronaut-image {
  max-width: 150px;
  height: auto;
}

/* Audio box */
.audio-box {
  margin-top: 10px;
  padding: 10px;
  border: 3px solid black;
  border-radius: 10px;
  width: 300px;
}