.main-content {
  width: 100%;
  height: 100%;
  background-color: blue;
  overflow: hidden;
  align-items: flex-start; /* Align items to the top */
  justify-content: center;
  /* background-color: white; */
  border-bottom: 2px solid #ddd;
  position: relative; /* Position child elements relative to this container */
}

.main-content-fix {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Spread content evenly */
  padding: 10px 10px;
  background-color: white;
  border-bottom: 2px solid #ddd;
  position: fixed;
  top: 120px;
  width: 100%;
  z-index: 1000; /* Ensure header is above other elements */
  height: 90px; /* Set a fixed height */
}

/* Button container styles */
.button-container {
  display: flex; /* Align the buttons horizontally */
  background-color: white;
  justify-content: flex-start; /* Ensure buttons are on the left */
  align-items: center; /* Center buttons vertically within the container */
  gap: 10px; /* Optional: Space between buttons */
  position: absolute; /* Position the buttons absolutely */
  top: 75px; /* Distance from the top */
  right: 20px;
}

.chatbot-container {
  width: 100%; /* Full width of the screen */
  height: 80vh; /* Take 80% of the viewport height */
  display: flex;
  flex-direction: column; 
  background-color: white; /* Optional background color */
  overflow-y: auto; /* Enable scrolling for the content if necessary */
  position: fixed;
  top: 130px;
  padding: 10px 0;
  height: 490px;
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: flex-end; /* Align button container to the right */
  align-items: center; /* Vertically center the button container */
  padding: 10px 20px;
  background-color: #4a4ae0;
}

.button-container button {
  background-color: #4a4ae0;
  color: white;
  border: 2px solid black;
  border-radius: 50%;
  margin: 7px;
  width: 75px;
  height: 75px;
  cursor: pointer;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center; /* Center text inside the button */
}

